.background{
    width: 100%;
    height: 300px;
    margin-top:4% ;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
@media (max-width: 992px){
    .background{
      margin-top: 560px;
    
  
      }}
.text{
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    width: 1000px;
    
}

.background img{
    margin-top: 1%;
    margin-left: 450px;
    width: 100px;
    height: 70px;
}